body {
  margin: 0; /* マージンをリセット */
}

ul {
    list-style-type: none; /* リストマーカーを非表示 */
    padding: 0; /* パディングをリセット */
    margin-top: 10px;
    margin-bottom: 10px
  }
  
  /* 各リストアイテムのスタイル */
  li {
    margin-bottom: 10px; /* アイテム間のマージン */
  }
  
  /* リンクのスタイル */
  a {
    display: block; /* ブロック要素として表示 */
    padding: 5px 10px; /* パディングを追加 */
    background-color: #f0f0f0; /* 背景色 */
    color: #333; /* 文字色 */
    text-decoration: none; /* 下線を非表示 */
    border-radius: 5px; /* 角を丸める */
  }
  
  /* リンクにホバーしたときのスタイル */
  a:hover {
    background-color: #e0e0e0; /* 背景色を変更 */
  }  


.searchInput{
  text-align: center;

  margin-top: 10px;
}

.searchInput input{
  height: 20px; 
}

#arrangeButton{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: blue;
  color: white;
  height: 30px;
}

