body {
  margin: 0 30px; /* マージンをリセット */
}

ul {
  list-style-type: none; /* リストマーカーを非表示 */
  padding: 0; /* パディングをリセット */
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid; /* グリッド表示にする */
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* グリッドの列を自動的に調整 */
  grid-gap: 50px; /* グリッドのギャップ（マージン）を設定 */
  grid-auto-rows: repeat(1fr);
}
  
/* 各リストアイテムのスタイル */
li {
  margin-bottom: 10px; /* アイテム間のマージン */
  display: flex; /* フレックスボックスとして表示 */
  flex-direction: column; /* 子要素を縦方向に並べる */


}
.bookmark-item{
  position: relative;
  padding: 5px; /* パディングを追加 */
}
  
/* リンクのスタイル */
a {
  display: block; /* ブロック要素として表示 */
  padding: 5px 10px; /* パディングを追加 */
  background-color: #f0f0f0; /* 背景色 */
  color: #333; /* 文字色 */
  text-decoration: none; /* 下線を非表示 */
  border-radius: 5px; /* 角を丸める */
}


.searchInput{
  text-align: center;

  margin-top: 10px;
}

.searchInput input{
  height: 20px; 
}

#arrangeButton{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: blue;
  color: white;
  height: 30px;
}


/* ファビコンのスタイル */
.favicon {
  width: minmax(40px, 1fr); /* 幅を16pxに設定 */
  height: minmax(40px, 1fr); /* 高さを16pxに設定 */
}

.reload-icon {
  position: absolute;
  left: 10px;
  top: 10px;
}

.edit-link{
  position: absolute;
  right: -25px;
  top: 2px;
  background-color: transparent;
}
